.pokedex-search-box {
  display: flex;
  flex-direction: column;

  .pokedex-search-box-input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #bcbcbc;
    border-radius: 3px;

    &:disabled {
      background: #d9dadb;
      cursor: not-allowed;
    }
  }
}
