@import "../../../assets/design.scss";

.pokedex-app-title {
  height: 100%;
  width: 100%;

  h1 {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    color: white;
    font-size: 24px;
  }
}
