@import "../../../assets/design.scss";

.pokedex-header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: $primary;
  box-shadow: $box-shadow;

  .pokedex-header-segment-container {
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .pokedex-header-segment {
      height: 100%;
      width: 100%;
      display: flex;
      justify-self: center;
      align-items: center;

      &#pokedex-header-segment-left {
        .pokedex-header-nav {
          height: 100%;
          margin: 0 0 0 12px;
          display: flex;
          align-items: center;
        }
      }

      &#pokedex-header-segment-right {
        justify-content: flex-end;
      }
    }
  }
}
