.pokedex-content {
  background-color: #eeeced;

  .pokedex-content-container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 0;

    .pokedex-content-loader {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pokedex-content-card-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
